.separator{
  background: #17191C url("../../images/people.png") right 6% bottom no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.separator__content{
  max-width: 45%;
}
.separator__title{
  font-size: 48px;
  font-weight: bold;
  margin-top: 15px;
}