.footer{
  /* height: 146px;
  position: relative;
  top: 13px; */ 
}
.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__item{
  margin-right: 10px;
}
.social__item:last-child{
  margin-right:0;
}
.social{
display: flex;
}
.footer__menu{
  /* position:relative;
  right: 132px; */
}
.footer__contacts{
  margin-right: -86px;
}
.contacts__bottom-info{
  font-size: 11px;
}

hr{
  width: 1140px;
    position: relative;
    left: 39px;
    margin-bottom: 8px;
    border-top-color: dark;
    border-bottom-color: grey;
    border-left-color: grey;
    border-right-color: grey;
    margin-bottom: 41px;
}
.inner-footer__container{
  height: 90px;
  margin-top: 47px;
}
.social__img{
  width: 36px;
  height: 36px;
  /* position: relative; */
}
.social__img--tg{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -122px -66px;
}
.social__img--vk{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -66px -122px;
}
.social__img--fb{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -10px -10px;
}
.social__img--inst{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -122px -10px;
}
.social__img--tg:hover{
  content:"";
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -66px -66px;
}
.social__img--vk:hover{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -10px -122px;
}
.social__img--fb:hover{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -66px -10px;
}
.social__img--inst:hover{
  width: 36px; height: 36px;
  background: url("../../images/social_sprites_all.png") -10px -66px;
}
.social__img--tg:hover{
  background-position: -66px -66px;
}
.social__img--vk:hover{
  background-position: -10px -122px;
}
.social__img--fb:hover{
  background-position: -66px -10px;
}
.social__img--inst:hover{
  background-position: -10px -66px;
}
