.header{
  margin-top: 25px;
  margin-bottom: 93px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container:nth-child(3){
  margin-left: 30px;
}
.header__left{
display: inline-flex;
align-items: center;
margin-right: 25px;
}
.header__center{
  display: inline-flex;
  align-items: center;
}
.header__right{
  display: inline-flex;
  align-items: center;
  /* justify-content: flex-end; */
  margin-right: -87px;
}
.logo{
  display: flex;
}

.menu__item{
display: inline-flex;
margin-right: 62px;
}
.menu__link{
  font-size: 16px;
}

.menu__link:hover{
  color: #8F00FF
}
.menu{
 display: flex;
}
.menu__item:last-child{
  margin-right: 0px;
}
.contacts{
  font-style: normal;
  text-align: right;
}

.contacts__info{
  font-size: 13px;
  text-decoration: underline;
  margin-top: -9px;
  color:#98A4A8;
}
.contacts__info:hover{
  color:#ffffff;
}
.contacts__phone{
  text-decoration: none;
  font-size: 26px;
}
.dropdown{
  position: relative;
  /* display: inline-block; */
}
.dropdown__content {
  position: absolute;
  background: #EDEDED;
  color: #1E1F20;
  font-size: 13px;
  border-radius: 5px;
  padding: 13px;
  width: 160px;
  top: 100%;
}
.dropdown:hover .dropdown__menu {
  opacity: 1;
  margin-left: 33px;
}
.dropdown__triangle{
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #EDEDED;
  position: absolute;
  right: -122px;
  bottom: -4px;
}
.dropdown__menu{
  position: absolute;
  top: 27px;
  text-align: left;
  opacity: 0;
  transition: opacity .4s;
  margin-left: -9999px;
}
.dropdown__menu:before{
  content: "";
  display: block;
  height: 20px;
  width: 171px;
  left: 0;
  right: 0;
  top: -11px;
  position: absolute;
}